{% extends "base.html.twig" %}

{% block body %}

	<div class="row">
		<div class="col">
			<h2>Administration</h2>
			<p>
				<a class="btn btn-primary" href="{{url('admin.product.index')}} ">Products Managment</a>
			</p>
		</div>
	</div>
{% endblock %}
